<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Auth-Portal</title>
  <base href="<%= baseURL %>" />
  <%- defineContent('style') %>
  <%- defineContent('script') %>
</head>

<body>
  <div>
    <%- body %>
  </div>
</body>

</html>

